body:global(.loading) .mainComponent{
    opacity: 1;

    i{
        opacity: 1;
    }
}

.mainComponent{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at center, #25252534, #000000 80%);
    transition: opacity 1s ease-in-out;
    pointer-events: none;
    opacity: 0;    

    
    i{
        opacity: 0;        
        background-color: white;
        mask: url('/logo.svg') no-repeat center;
        width: min(21dvmax, 220px);
        translate: 0 -20px;
        font-size: 6em;
        transition: opacity ease-in-out 1s;
        aspect-ratio: 1/1;                        
    }

}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@keyframes fadeInFromTop {
    0% { 
        
  
    }
    50% { 
        

    }
    100%{

    }

    
}


